@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../font/AvenirNext-Bold.ttf);
}

@font-face {
  font-family: "AvenirNext-Regular";
src: url(../font/AvenirNext-Regular.ttf);
}

@font-face {
  font-family: "omnes-medium-webfont";
src: url(../font/omnes-medium-webfont.ttf);
}

@font-face {
  font-family: "omnes-Regular-webfont";
src: url(../font/omnes-Regular-webfont.ttf);
}

@font-face {
  font-family:"Oxygen-Bold";
src: url(../font/Oxygen-Bold.ttf);
}

@font-face {
  font-family:"Oxygen-Regular";
src: url(../font/Oxygen-Regular.ttf);
}

@font-face {
  font-family: "Oxygen-Light";
src: url(../font/Oxygen-Light.ttf);
}

@font-face {
  font-family: "Roboto-Black";
src: url(../font/Roboto-Black.ttf);
}

@font-face {
  font-family:"Roboto-BlackItalic";
src: url(../font/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family:"Roboto-BoldItalic";
src: url(../font/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family:"Roboto-Bold";
src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family:"Roboto-Italic";
src: url(../font/Roboto-Italic.ttf);
}

@font-face {
  font-family:"Roboto-LightItalic";
src: url(../font/Roboto-LightItalic.ttf);
}

@font-face {
  font-family:"Roboto-Light";
src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family:"Roboto-Medium";
src: url(../font/Roboto-Medium.ttf);
}

@font-face {
  font-family:"Roboto-MediumItalic";
src: url(../font/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family:"Roboto-Regular";
src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family:"Roboto-Thin";
src: url(../font/Roboto-Thin.ttf);
}

@font-face {
  font-family:"Roboto-ThinItalic";
src: url(../font/Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: "OpenSans-Bold";
    src: url(../font/ttf/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "OpenSans-BoldItalic";
    src: url(../font/ttf/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family: "OpenSans-Light";
    src: url(../font/ttf/OpenSans-Light.ttf);
}

@font-face {
  font-family: "OpenSans-LightItalic";
    src: url(../font/ttf/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
    src: url(../font/ttf/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Italic";
    src: url(../font/ttf/OpenSans-Italic.ttf);
}

@font-face {
  font-family: "OpenSans-SemiBold";
    src: url(../font/ttf/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
    src: url(../font/ttf/OpenSans-SemiBoldItalic.ttf);
}

@font-face {
  font-family: "OpenSans-ExtraBold";
    src: url(../font/ttf/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
    src: url(../font/ttf/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.4.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.doctor-img{
	width:84%;
}
.rating {
   float: left;
    margin: -4px 0 21px;}

.rating:not(:checked) > input {
  position: absolute;
  clip: rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.2;
  color: #cccccc;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #d41c5c;
}

.rating > input:checked ~ label:after {
  color: #d41c5c;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #cccccc;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #d41c5c;
}

.rating > label:active {
  position: relative;
  left: 0px;
  top: 0;
}

.rating > label {
  margin-right: 0;
}

.ratings {
  float: right;
  position: absolute;
  right: 13px;
  top: 2px;
}
 .navbar-top-fixed-banner {
  background-image: url("../img/top_banner.png");
  background-color: transparent;
  border: none;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
#headtop {
  margin: 0 auto;
  max-width: 1170px;
}
.divider {
  display: inline-block;
  width: 0;
  height: 22px;
  border-left: 1px solid #d17c9b;
  border-right: 1px solid #d17c9b;
  float: left;
  margin: 4px 15px 0;
}
.marketing-background-logo {
  width: 88px;
  height: 18px;
  margin-left: 14px;
}
.table {
  margin: 24px 0;
}

.tablerow {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}
.marketing-background-cell-1 a {
  font-family: "Omnes-Regular-webfont";
  font-size: 15px;
  color: #ffffff;
}
.container.public-priofile-container {
    margin-top: 120px;
}
.doctor-name{
	font-family: "OpenSans-SemiBold";
	font-size: 30px;
	line-height: 20.46px;
	color: #333333;
}
.doctor-qualification{
	font-family: "OpenSans-Regular";
	font-size: 24px;
	line-height: 25px;
	color:#666666;
	margin-top: 4%;
}
.specialist-in{
	font-family: "OpenSans-Regular";
	font-size: 18px;
	line-height: 20px;
	color:#666666;
	margin-right: 10pc;
    margin-top: 4%;
}
.doctor-rating{
	margin-top: 34px;
}
/*.col-lg-8.col-md-8.col-sm-8.col-xs-8.row_inside2 {
    padding-left: 42px;
}*/
.pro-statment{
	font-family: "OpenSans-Regular";
	font-size: 20px;
	color:#333333;
}
.doctor-statement{
	font-family: "OpenSans-Regular";
	font-size: 18px;
	color:#999999;
}
.feedback{
	margin-left: 18px;
	font-family: "OpenSans-SemiBold";
	font-size: 15px;
	color: #666666;
}
.exp-yrs{
	font-family: "OpenSans-SemiBold";
	font-size: 21px;
	color: #333333;
}
.Appointment_fa_color{
	font-size: 21px;
	color: #b7b7b7;
}
.read-more{
	float:right;
}
.statement{
  display:table;
}
.hospital-name {
  background-color: #d41c5c;
  padding: 10px;
}
.hospital-name > .plus {
  float: right;
  color: #fff;
  margin-top: 10px;
}
.hospital-name > h{
  color: #fff;
  font-family:"OpenSans-SemiBold"; 
  font-size:27px;
}
.hospital-clinic{
  color: #333;
  font-family:"OpenSans-SemiBold"; 
  font-size:30px;
}
.click{
  font-family: "OpenSans-Regular";
  font-size: 21px;
  color:#666666;
  margin-left: 34px;
}
.booking{
  margin-bottom: 40px;
}
/*.fa.fa-plus {
    margin-top: 13px;
}
.fa.fa-minus {
    margin-top: 13px;
}*/
/*avilable slot strats*/
.AvailableSlots_para {
  font-family: "OpenSans-Semibold";
  font-size: 18.43px;
}
.fa-angle-para {
    color: #666666;
    font-family: "OpenSans-SemiBold";
    font-size: 20px;
    vertical-align: middle;
}
.fa-angle-left {
    text-align: left;
}
.fa-angle-left,.fa-angle-right {
    color: #bbbbbd;
    cursor: pointer;
    font-size: 34px;
    vertical-align: middle;
}
.inner_slots .slots_button {
    background-color: #fafafc;
    border: 1px solid #d7155b;
    border-radius: 0 !important;
    color: #666666;
    font-family: "OpenSans-SemiBold";
    font-size: 16.01px;
    margin-bottom: 9px;
    padding: 11px 0;
    width: 100%;
}
.inner_slots .slots_button:active, .inner_slots .slots_button:hover, .inner_slots .slots_button:focus, .BookNow_button:active, .BookNow_button:hover, .BookNow_button:focus {
    background-color: #d7155b;
    color: #fafafc;
}
.BookNow_button {
    background-color: #fafafc;
    border: 1px solid #d7155b;
    border-radius: 5px;
    color: #d7155b;
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
    margin-bottom: 28px;
    padding-bottom: 11.5px;
    padding-top: 11.5px;
    width: 35%;
}
.BookNow_div {
    margin-top: 32px;
    text-align: center;
}
.hospital-name{
  width:48.6%;
  cursor: pointer;
}
.booking-menu,.booking-menu1{
  display:none;
  margin:0px;
}
.google-map{
  border: 1px solid #4d4d4d;
  padding: 10px;
  margin-top: 30px;
}
.google-map-img{
  width:100%;
}
.location-detail{
  font-family: "OpenSans-Regular";
  font-size: 21px;
  color:#333333;
}
.location-detail-div {
    margin-top: 68px;
}
.available-slots-div {
    border: 1px solid #999999;
    padding: 12px;
    margin-top: 15px;
}
.available-timing {
    margin-top: 50px;
}
.fees{
  font-family: "OpenSans-Regular";
  font-size: 18px;
  color:#666666;
  display: table-cell;
}
.public_fa_color{
  color: #b6b6b7;
  font-size: 28px;
  vertical-align: middle;
}
.exp-rupies{
  font-size: 21px;
  margin-left: 5px;
}
.rupi-500 {
    margin-left: 12px;
}
/*.clock-img{
  margin-left: 64px;
 float: right;
}*/
.avail-time{
  font-family: "OpenSans-Regular"; 
  font-size: 14px;
  color: #999999;
  margin-left: 13px;
}
.slot-div-date{
  margin-top: 60px;
}
.Booked-timing{
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color:#666666;
}
.available-timing{
  width:100%;
  display: table;
}
.fee-div{
  display: table-cell;
  vertical-align: middle;
  width:30%;
}
.timimg-div{
  display: table-cell;
  vertical-align: middle;
  width:30%;
}
.time-table-week{
    display: table-cell;
  vertical-align: middle;
  width:10%;
}
.time-table{
    display: table-cell;
  vertical-align: middle;
  width:30%;
}
/*.col-lg-6.col-md-6.col-sm-12.col-xs-12.time {
    border-top: 2px solid #d41c5c;
}*/
/*.col-lg-6.col-md-6.col-sm-12.col-xs-12.google {
    border-left: 2px solid #d41c5c;
    padding-bottom: 30px;
}*/
.row.booking-menu ,.row.booking-menu1 {
    border-bottom: 2px solid #d41c5c;
    border-left: 2px solid #d41c5c;
    border-right: 2px solid #d41c5c;
}
.float-left{
  float:right;
}
.float-right{
  float:left;
}
.minus1,.minus2{
  display: none;
}
/*available slot ends*/
/*changes*/
.btn-margin-left{
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.btn-margin-right{
  padding-right: 7.5px;
}
.btn-margin-left-1{
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.btn-margin-right-1{
  padding-left: 7.5px;
}
 .row.AvailableSlots_button.inner_slots {
    margin: 15px 0;
}

@media screen and (max-width:1024px){
  .google{
   width:100%;
  }
  .time{
    width:100%;
  }
  .row.booking-menu,.row.booking-menu1{
    border:none;
  }
  .col-lg-6.col-md-6.col-sm-12.col-xs-12.time {
    border:none;
  }
  .hospital-name{
    width:100%;
  }
}
@media screen and (max-width: 991px){
	.specialist-in {
		margin-right:0px;
	}
}
@media screen and (max-width: 420px) {
  .marketing-background-cell-1 a {
    font-size: 12px;
  }

  .divider {
    margin: 3px 5px 0;
    height: 17px;
  }
}
@media screen and (min-width: 768px) {
   .marketing-background-logo {
    height: 28px;
    width: 137px;
   }
}
@media screen and (max-width: 767px){
	 .doctor-name {
    font-size: 20px;
    margin: 0;
	}
	.doctor-qualification {
    font-size: 18px;
    }
	.specialist-in {
	    font-size: 16px;
	}
	.doctor-img{
		width:100%;
	}
  .hospital-name {
    width: 100%;
}
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .marketing-background-cell-1 a {
    font-size: 14px;
  }
  .marketing-background-logo {
    width: 122px;
    height: 25px;
  }
}
.Services_Offered_para {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  padding-top: 38.6px;
  padding-bottom: 3.7px;
}
.colorFix{
padding-left: 0px;
}

 .group {
  display: table;
  width: 100%;
}
 #categories ul li {

  vertical-align: middle;
 
  padding-top: 2px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-left: 0;
    margin-left: 0;
    /*margin-right: 180px;*/
}
#categories{
  padding-left: 0;
}


.col-lg-4.col-md-4.col-sm-4.col-xs-4.service-list-1 {
    padding-left: 10%;
}
.service-list{
  border-bottom: 1px dashed rgb(204, 204, 204);
  width: 64%;
  font-family: "OpenSans-Regular";
  font-size: 14px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-4.margin-right-service1 {
    padding-left: 8%;
}
@media screen and (max-width: 991px){
  .specialist-in {
    margin-right:0px;
  }
  .inner_slots .slots_button {
  font-size: 12px;
}
}
@media screen and (max-width: 767px) {

.inner_slots .slots_button {
  font-size: 16px;
}
}
@media screen and (max-width: 420px) {

   .inner_slots .slots_button {
  font-size: 12px;
}
}
@media screen and (max-width: 360px) {

   .inner_slots .slots_button {
  font-size: 9px;
}
}