@font-face {
    font-family: "OpenSans-Bold";
    src: url(../font/ttf/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url(../font/ttf/OpenSans-BoldItalic.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../font/ttf/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSans-LightItalic";
    src: url(../font/ttf/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../font/ttf/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Italic";
    src: url(../font/ttf/OpenSans-Italic.ttf);
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url(../font/ttf/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: url(../font/ttf/OpenSans-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url(../font/ttf/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url(../font/ttf/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
body {
    width: 100%;
}
#headtop {
    height: 75px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
}
#appointment_img1 {
    margin-top: 10px;
    margin-left: 90px;
    cursor: pointer;
}
footer {
    padding-top: 22px;
    background-color: #fafafc;
    height: 104.9px;
}
.doc_det_slots_row {
    display: flex;
}
@media screen and (max-width: 767px) {
    .doc_det_slots_row {
        display: table;
    }
}
.footer-contents.container {
    position: relative;
}
.Appointment_p7 {
    float: right;
    color: #333333;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    padding-right: 20px;
}
.footer-contents1 {
    float: right;
    position: absolute;
    right: 0;
    top: 30px;
}
.footerimage {
    float: right;
    margin-top: 28px;
    margin-right: -25px;
}
.Appointment_span7 {
    margin-right: -102px;
    color: #8f66ae;
    font-family: "OpenSans-Regular";
    font-weight: bold;
    font-size: 14px;
}
.Appointment_span8 {
    color: #d62465;
}
.container {
    padding: 0 !important;
    margin: 0 auto;
}
.Appointment_para1 {
    font-family: "OpenSans-Regular";
    font-size: 12px;
    color: #666666;
    padding-top: 39.5px;
}
.Appointment_span1 {
    font-family: "OpenSans-SemiBold";
    color: #333333;
}
#Appointment_div {
    margin-top: 75px;
}
.Appointment_heading1 {
    font-family: "OpenSans-Bold";
    font-size: 22px;
    color: #333333;
    margin-top: 42px;
    margin-bottom: 0px;
}
.Appointment_fontfamily {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    font-weight: normal;
}
.dropdown-toggle {
    color: #999999;
}
.dropdown {
    display: inline;
}
.background {
    background-color: #fafafc;
}
[type="checkbox"] {
    width: 21px;
    border-color: 1px solid #cccccc;
}
label {
    margin-right: 9px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    margin-right: 48px;
}
.Doctor_Details_div,
.Treatment_Plans_div {
    /*flex: 2 0 0px;*/
    
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-right: 10px;
}
.Treatment_Plans_div {
    border: 1px solid rgb(231, 225, 232);
    padding-bottom: 10px;
}
/* checkbox aspect */

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #cccccc;
    background: #fafafc;
    border-radius: 3px;
}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    /*font-family: "FontAwesome";*/
    
    color: #09ad7e;
    /*content: "\f00c";*/
    
    content: url(../img/check.png);
    font-size: 15px;
    left: 2px;
    line-height: 0.8;
    position: absolute;
    font-weight: normal;
    top: 3px;
    transition: all 0.2s ease 0s;
}
/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #cccccc;
}
.btn-group > .btn-group {
    padding-right: 9px;
    padding-top: 20px !important;
}
.btn-group:last-child {
    padding-right: 0px;
}
.checkbox_div {
    display: table;
    margin: 20.5px 0;
    width: 100%;
}
.checkbox1 {
    vertical-align: middle;
    display: table-cell;
}
.l-class,
.caret {
    display: inline-block;
}
.l-class {
    float: left;
}
.caret {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.btn {
    border-radius: 5px !important;
}
.button2 {
    background-color: #d7155b;
    color: #ffffff;
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
    float: right;
    border: none;
    width: 120px;
    border-radius: 4px;
    padding: 17.5px 0;
}
.button2:hover,.button2:active{
    background-color: #cb1557;
    border-color: #a71047;
}

.AvailableSlots_div,
.Special_Offers_div {
    background-color: #fafafc;
    border: 1px solid rgb(231, 225, 232);
    /*flex: 1 0 0px;*/
    
    margin-top: 26.9px;
    margin-left: 10px;
}
.Special_Offers_div {
    margin-top: 0px;
    padding: 0;
}
.AvailableSlots_para {
    font-family: "OpenSans-Semibold";
    font-size: 18.43px;
    margin-bottom: 10px;
    margin-top: 17px;
    margin-right: 1.2px;
}
.fa-angle-div {
    display: table;
    padding-bottom: 42px;
    margin: 0 auto;
    width: 95%;
}
.fa-angle-para {
    display: table-cell;
    vertical-align: middle;
    font-family: "OpenSans-SemiBold";
    font-size: 20px;
    color: #666666;
    text-align: center;
}
.fa-angle-left,
.fa-angle-right {
    display: table-cell;
    vertical-align: middle;
    color: #bbbbbd;
    font-size: 34px;
    cursor: pointer;
}
.fa-angle-right {
    text-align: right;
}
.fa-angle-left {
    text-align: left;
}
.Doctor_Details_para {
    font-family: "OpenSans-Bold";
    font-size: 22px;
    margin-top: 33px;
    padding-bottom: 8.7px;
}
.DoctorImg {
    width: 100%;
    margin-top: 19px;
    padding-right: 13px;
}
.Appointment_p31 {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}
.Appointment_p32 {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    line-height: 25px;
    color: #666666;
    margin-bottom: 12px;
}
.row_inside1 {
    padding-right: 41px;
    margin-right: -49px;
}
.row_inside2 {
    padding-right: 0px;
}
.Appointment_p3 {
    margin-top: 36px;
    margin-bottom: 8px;
    font-family: "OpenSans-SemiBold";
    font-size: 20px;
    color: #333333;
}
.Appointment_p4 {
    font-family: "OpenSans-Regular";
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 9px;
    color: #999999;
}
.fa-star {
    margin-bottom: 20px;
}
.Appointment_fa-star {
    color: #d41c5c;
}
.Appointment_fa-star1 {
    color: #cccccc;
}
.Appointment_fa_color {
    color: #b7b7b7;
}
.Appointment_span5 {
    font-size: 16px;
    font-family: "OpenSans-Regular";
    color: #333333;
    margin-bottom: 2px;
}
.Appointment_span51 {
    border-right: 1px solid #d8d8d8;
    /*padding: 10px 44.2px 10px 0px;*/
}
/*.Appointment_span52 {
    padding-left: 44px;
}*/

.Appointment_span6 {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #999999;
    position: relative;
}
.avail-time {
    padding-left: 28px;
}
.Appointment_p5_span5 {
    margin-left: 35%;
}
.Appointment_p6 {
    margin-left: 55px;
}
.Appointment_p54 {
    margin-top: -13px;
    margin-bottom: 30px;
}
.Appointment_span5_3 {
    font-family: "OpenSans-Semibold";
    font-size: 16.01px;
    color: #666666;
}
.row_inside {
    padding-bottom: 20px;
    border: 1px solid rgb(231, 225, 232);
    border-bottom: none;
}
.row {
    margin: 0px;
}
.Services_Offered_div {
    border: 1px solid rgb(231, 225, 232);
    border-top: none;
}
.horizontal-rule {
    margin: 0 19.2px;
}
.inner_slots .slots_button.active {
    background-color: #d7155b;
    color: #fafafc;
}
.inner_slots .slots_button:active,.inner_slots .slots_button:hover,.inner_slots .slots_button:focus,.BookNow_button:active,.BookNow_button:hover,.BookNow_button:focus{
    background-color:#d7155b;
    color:#fafafc;
}
.Services_Offered_para {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    padding-top: 38.6px;
    padding-bottom: 3.7px;
    padding-left: 19.2px;
}
.Services_Offered_para1 {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    padding-left: 19.2px;
    padding-right: 52px;
    margin-right: 52px;
}
.Services_Offered_para2 {
    border-bottom: 1px dashed rgb(204, 204, 204);
    padding-bottom: 17px;
    padding-top: 2px;
}
.Services_Offered_para_1 {
    margin-left: -84px;
    padding-right: 0px;
}
.Services_Offered_para_11 {
    margin-right: -10px;
    padding-left: 0px;
    padding-right: 58px;
    margin-left: -10px;
}
.group {
    display: table;
}
.Services_Offered_para_3 {
    color: #0066ff;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    float: right;
    padding-right: 46.8px;
    padding-bottom: 47px;
    margin-top: 25px;
}
a.Services_Offered_para_3:focus,
a.Services_Offered_para_3:hover{
    text-decoration: none;
}
/*
.Treatment_Plans_leftpadding{
    padding-left:20px;
}*/

.Treatment_Plans_para {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(231, 225, 232);
}
.Treatment_Plans_paraa {
    padding-left: 20px;
}
.Treatment_Plans_para1 {
    font-family: "OpenSans-Semibold";
    font-size: 17.83px;
    font-weight: bold;
}
.Treatment_Plans_para1_1 {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 25px;
}
/*
.tablerow_heading .Treatment_Plans_para1_1{
    text-align: right;
}*/

.tablerow_heading {
    padding: 0 22px;
}
.table {
    display: table;
    max-width: 100%;
    border: 1px solid rgb(231, 225, 232);
    border-bottom: none;
    margin-bottom: 0;
}
.tab-heading {
    border:none;
    border-bottom: 1px solid rgb(231, 225, 232);
}
.tablerow {
    display: table;
    width: 100%;
}
.cell {
    display: table-cell;
}
.Treatment_Plans_para2 {
    font-family: "OpenSans-Regular";
    font-size: 16.05px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgb(231, 225, 232);
    width: 60%;
}
.tablerow_heading .Treatment_Plans_para2 {
    font-family: "OpenSans-Semibold";
    font-size: 17.83px;
}
.tablerow_heading .Treatment_Plans_para2,
.tablerow_heading .Treatment_Plans_cell1 {
    border: none;
}
.tablerow1,
.tablerow2 {
    width: 20%;
}
.Appointment_Last_row .tablerow1,
.Appointment_Last_row .tablerow2 {
    width: 100%;
}
.Treatment_Plans_span2 {
    font-family: "OpenSans-Regular";
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    line-height: 18px;
}
.Treatment_Plans_cell1 {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    border-bottom: 1px solid rgb(231, 225, 232);
}
.AvailableSlots_button {
    padding: 0px;
}
.inner_slots {
    margin: 0 auto;
    /*width: 65%;*/
}
.inner_slots .slots_button {
    background-color: #fafafc;
    border: 1px solid #d7155b;
    color: #666666;
    font-family: "OpenSans-SemiBold";
    font-size: 16.01px;
    margin-bottom: 9px;
    padding: 11px 0;
    width: 100%;
    border-radius: 0 !important;
}
@media screen and (max-width: 767px) {
    .inner_slots .slots_button {
        font-size: 13.69px;
    }
}
.BookNow_div {
    text-align: center;
    margin-top: 32px;
}
.BookNow_button {
    border: 1px solid #d7155b;
    border-radius: 5px;
    color: #d7155b;
    font-family: "OpenSans-SemiBold";
    font-size: 13.69px;
    margin-bottom: 28px;
    padding-bottom: 11.5px;
    padding-top: 11.5px;
    width: 35%;
    background-color: #fafafc;
}
.BookNow_para {
    font-family: "OpenSans-Regular";
    font-size: 14.01px;
    color: #666666;
    margin-bottom: 28px;
}
.button_color {
    background-color: #d7155b;
}
.SpecialOffers_div {
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
}
.sp_offer_heading {
    border-bottom: 1px solid rgb(231, 225, 232);
    padding: 14px 20px 5px;
}
.SpecialOffers_para {
    font-family: "OpenSans-SemiBold";
    font-size: 18px;
    /*
    font-weight: bold;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(231, 225, 232);
    padding-left: 20px;*/
}
.SpecialOffers_para1 {
    font-family: "OpenSans-SemiBold";
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10.5px;
    padding-bottom: -3px;
}
.SpecialOffers_para2 {
    font-family: "OpenSans-Regular";
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    font-weight: normal;
    padding-left: 20px;
}
.SpecialOffers_para3 .SpecialOffers_para2{
    padding-left: 0px;
}
.SpecialOffers_para3 {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
    padding-top: -15px;
}
.SpecialOffers_span {
    float: left;
    font-family: "OpenSans-SemiBold";
    font-size: 20px;
    line-height: 17px;
    margin-top: 0px;
    width: 40%;
}
.SpecialOffers_span1 {
    margin-left: 67px;
}
.SpecialOffers_para3, .SpecialOffers_para2 {
    display: block;
    width: 100%;
}
.specialOffer-cost {
    float: left;
    width: 60%;
}
.SpecialOffers_cost_session {
    font-family: "OpenSans-Regular";
    font-size: 12px;
    line-height: 18px;
}
.Appointment_para3 {
    margin-right: 13.5px;
    font-family: "OpenSans-SemiBold";
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-top: 54px;
}
.Appointment_para4 {
    font-family: "OpenSans-SemiBold";
    font-size: 18px;
    color: #999999;
    vertical-align: middle;
    border: 2px dashed #e0e0e0;
    width: 90%;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0 auto;
    display: table;
    border-radius: 4px;
}
.of-c {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.Appointment_span3 {
    color: #333;
    display: table-cell;
    font-size: 30px;
    padding-left: 10px;
    text-align: left;
}
.Appointment_para4_div {
    padding-top: 12px;
    text-align: center;
    margin-bottom: 11px;
}
.offer_para {
    color: #d41c5c;
    font-family: "OpenSans-Semibold";
    font-size: 89.84px;
    line-height: 70px;
    text-align: right;
}
.offer_para3 {
    font-family: "OpenSans-Regular";
    font-size: 13.98px;
    color: #666666;
    font-weight: normal;
    text-align: center;
}
.offer_para1 {
    color: #d41c5c;
    font-size: 44px;
    line-height: 45px;
}
.offer_para2 {
    font-family: "OpenSans-Semibold";
    font-size: 29px;
    margin-top: 38px;
}
.offer_div6 {
    padding-right: 0px;
}
.offer_div_6 {
    padding-left: 0px;
}
.offer_para4 {
    font-size: 15.97px;
    font-family: "OpenSans-Semibold";
    margin-top: -7.2px;
    text-align: center;
}
.treatment_det_slots,
.Appointment_Last_row {
    margin-top: 17px;
}
.Appointment_Last_row_div {
    border: 1px solid rgb(231, 225, 232);
    padding-bottom: 21px;
    padding-top: 21px;
}
.Appointment_Last_row_para {
    font-family: "OpenSans-SemiBold";
    font-size: 17.83px;
    padding-left: 22px;
}
.Appointment_Last_row_span {
    color: #0066ff;
    float: right;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    padding-right: 22px;
    text-decoration: none;
}
a.Appointment_Last_row_span:focus,
a.Appointment_Last_row_span:hover{
    text-decoration: none;
}
.table1 {
    border-left: 1px solid rgb(231, 225, 232);
    border-right: 1px solid rgb(231, 225, 232);
    border-bottom: 1px solid rgb(231, 225, 232);
    margin-bottom: 65px;
}
#content-1 {
    width: inherit;
    height: 335px;
}
.sc-treatment {
    height: inherit;
}
.treat-scroll {
    height: 100%;
}
#content-2 {
    height: 80%;
    border: none;
}
#content-2 .tablerow:last-child span {
    border-bottom: none;
}
.Appointment_Last_row_tablerow {
    border-bottom: 1px solid rgb(231, 225, 232);
    padding-bottom: 17px;
    padding-top: 17px;
}
.Appointment_Last_row_tablerow:last-child {
    border-bottom: none;
}
.Appointment_Last_row_cell {
    border-radius: 100%;
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right: 23px;
}
.Appointment_Last_row_cell1 {
    font-family: "OpenSans-Semibold";
    font-size: 16px;
    padding-right: 15px;
    text-align: justify;
    padding-left: 30px;
}
.Appointment_Last_row_span1 {
    color: #666666;
    display: block;
    font-family: "OpenSans-Regular";
    font-size: 14.05px;
    font-weight: normal;
    line-height: 22.07px;
    margin-left: 65px;
}
/* ScrollBar*/

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(204, 204, 204, 0.75) !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(255, 255, 255, 0.4) !important;
}
.mCSB_scrollTools {
    width: 5px !important;
}
.mCSB_inside > .mCSB_container {
    margin: 0 22px !important;
}
@media screen and (max-width: 767px) {
    .AvailableSlots_div,
    .Special_Offers_div {
        margin-left: 0;
    }
    .container {
        margin: 0 20px;
    }
    .btn-group > .btn-group {
        padding: 0;
        margin-right: 3.1%;
    }
    .btn-group > .btn-group:nth-child(3) {
        margin-right: 0;
    }
    .btn-group-justified > .btn,
    .btn-group-justified > .btn-group {
        float: left;
        width: 31.3%;
    }
}
.fa-suitcase::before,
.fa-clock-o::before {
    font-size: 19px;
    padding-right: 10px;
}
.fa-clock-o::before {
    content: url("../img/clock.png");
    position: absolute;
    top: 1px;
}
.app_exp,
.app_timings {
    width: 100%;
    margin: 3px 0px;
    margin-left: 0;
    display: table;
}
.app_exp {
    margin: 3px 0px;
    padding-left: 0;
}
.app_weekdays,
.app_sun {
    width: 50%;
    text-align: left;
    float: left;
}
.app_timings .app_weekdays,
.app_sun {
    padding-left: 30px;
}
.exp-yrs {
    /*border-right: 1px solid #d8d8d8;
    display: inline-block;
    width: 75%;*/
}
.exp-fee {
    padding-left: 10px;
    text-align: left;
    width: 75%;
}
.app_exp .Appointment_span52 {
    padding-left: 30px;
}
.row.offer-row {
    border-top: 1px solid #d8d8d8;
    margin-top: 15px;
    padding: 25px 0;
}
.rate {
    height: inherit;
    margin: 0 auto;
    padding: 10px;
    width: 175px;
}
.offer-rate {
    float: left;
}
.of-p {
    float: left;
    width: 0;
}
@media screen and (max-width: 767px) {
    .slots-row {
        width: 100%;
        display: table;
        padding: 20px 15px 33px;
    }
    .AvailableSlots_para {
        margin-right: 0;
        margin-top: 0;
        width: 50%;
        margin-bottom: 0;
        float: left;
    }
    .fa-angle-div {
        padding: 0;
        float: left;
        width: 50%;
    }
    .row.offer-row {
        border-top: none;
        margin-top: 15px;
        padding: 0;
    }
    .SpecialOffers_div {
        padding-right: 15px;
        padding-top: 0;
        border-right: 1px solid #d8d8d8;
        margin-top: 20px;
        margin-bottom: 22px;
    }
    .SpecialOffers_para1 {
        padding-top: 0;
    }
    .row.offer-row {
        margin-top: 23px;
    }
    .rate {
        padding: 0 10px;
    }
    .Special_Offers_div {
        margin-top: 17px;
    }
    #content-2 {
        height: 350px;
    }
}
#Appointment_div a,
#Appointment_div a:hover {
    text-decoration: none;
    color: #666;
}
.r-arr {
    vertical-align: middle;
}
.Appointment_Last_row_cell img {
    background-image: url("../img/review.png");
    background-position: -38px 0;
    background-repeat: no-repeat;
    height: 72px;
    width: 72px;
    display: block;
}
.colorFix {
    padding-left: 20px;
}
#categories ul li {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    padding-top: 2px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
}
#categories ul li .service-list {
    float: left;
    width: 90%;
    border-bottom: 1px dashed rgb(204, 204, 204);
    padding-bottom: 17px;
}
@media screen and (max-width: 767px) {
    #appointment_img1 {
        margin-left: 25px;
    }
}
@media screen and (max-width: 500px) {
    .col-xxs-12 {
        width: 100%;
    }
    .SpecialOffers_div {
        border-right: none;
    }
    .col-xxs-6 {
        float: left;
        width: 50%;
    }
    .offer_para3,
    .offer_para4 {
        text-align: left;
    }
    .offer_para4 {
        margin-bottom: 24px;
    }
    .offer-valid {
        margin-top: 38px;
    }
    .rate {
        margin: 0;
    }
}
@media screen and (max-width: 420px) {
    .btn-group-justified > .btn,
    .btn-group-justified > .btn-group {
        float: left;
        width: 48%;
    }
    .btn-group > .btn-group {
        margin-right: 4% !important;
        margin-left: 0 !important;
        padding: 0;
    }
    .btn-group > .btn-group:nth-child(2),
    .btn-group > .btn-group:nth-child(4) {
        margin-right: 0 !important;
    }
    .row_inside1 {
        margin-right: 0;
        padding-right: 0;
    }
    .row_inside2 {
        padding-left: 0;
        padding-right: 15px;
    }
    .Appointment_p3 {
        margin-top: 12px;
        font-size: 16px;
    }
    .Appointment_p31,
    .Appointment_p32 {
        font-size: 14px;
    }
    .app_exp,
    .app_timings {
        margin: 3px 0 3px -45%;
        width: 165%;
    }
    .Appointment_span5_3 {
        font-size: 14px;
    }
    .app_weekdays,
    .app_sun {
        width: 43%;
    }
    .Services_Offered_para {
        font-size: 16px;
    }
    #categories ul li {
        font-size: 12px;
    }
    #categories ul li {
        width: 45%;
    }
    .AvailableSlots_para {
        font-size: 12px;
    }
    .fa-angle-para {
        font-size: 12px;
    }
    .inner_slots .slots_button {
        font-size: 11px;
    }
    .BookNow_button {
        font-size: 8.79px;
    }
    .BookNow_para {
        font-size: 8.99px;
    }
    .Treatment_Plans_cell1 {
        font-size: 10px;
    }
    .Treatment_Plans_para2,
    .SpecialOffers_para2 {
        font-size: 11px;
    }
    .tablerow_heading .Treatment_Plans_para2,
    .Appointment_Last_row_span1,
    .Appointment_fontfamily {
        font-size: 12px !important;
    }
    .offer_para3 {
        font-size: 13px;
    }
    .SpecialOffers_para3,
    .Appointment_Last_row_span,
    .Appointment_span5 {
        font-size: 14px;
    }
    .SpecialOffers_para1,
    .offer_para4,
    .Appointment_Last_row_cell1,
    .Appointment_p5 {
        font-size: 15px
    }
    .SpecialOffers_para,
    .Appointment_Last_row_para {
        font-size: 16px;
    }
    .button2 {
        font-size: 17px;
    }
    .fa-angle-left,
    .fa-angle-right {
        font-size: 18px;
    }
    .offer_para2 {
        font-size: 19px;
    }
    .Doctor_Details_para,
    .Appointment_fontfamily {
        font-size: 20px;
    }
    .Appointment_heading1 {
        font-size: 24px;
    }
    .of-c {
        font-size: 16.65px;
    }
    .Appointment_span3 {
        font-size: 27.76px;
    }
    .inner_slots div,
    .slots-row {
        padding-left: 5px;
        padding-right: 5px;
    }
    .AvailableSlots_para {
        width: 40%;
    }
    .fa-angle-div {
        width: 60%;
    }
    .offer_para {
        font-size: 62.84px;
    }
    .offer_para1 {
        font-size: 30px;
        line-height: 53px;
    }
}
.rating {
    float:left;
    margin: -8px 0 21px;
}

.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#cccccc;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
     color: #d41c5c;
}

.rating > input:checked ~ label:after {
    color: #d41c5c;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #cccccc;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #d41c5c;
}

.rating > label:active {
    position:relative;
    left:0px;
    top: 0;
}
.rating > label{
    margin-right: 0;
}