<!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/font-awesome.min.css">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="../../assets/css/marketing.css">
</head>
<body>
	<div id="about-us">
		<nav class="navbar navbar-default navbar-fixed-top navbar-top-fixed-banner">
	      	<div id="headtop">
		  	    <div class="navbar-header table">
		 			<div class="tablerow">
		 			<div class="cell marketing-background-cell">
		 			<a href="/"><img class="marketing-background-logo" src="../../assets/img/Logo.png"/></a>
		 			</div>
		 			<span class="divider"></span>
		 			<div class="cell marketing-background-cell-1 marketing-background-cell-2">
		 				<a href="/blog">Blog</a>
		 			</div>
		 			<span class="divider"></span>
		 			<div class="cell marketing-background-cell-1 marketing-background-cell-3">
		 				<a href="/doctors">For  Doctors</a>
		 			</div>
		 			</div>
	 			</div>
			</div>
	 	</nav>
		<div class="container marketing-gen-content">
			<h3 class="marketing-general-header"><span class="header-border-bottom">About Us</span></h3>
			<div class="row about-us-gen-content about-us-top-content">
				We want you to live better and healthier. Because we believe that good health is the stepping stone to a great life.
			</div>
			<section class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 about-us-left-content"><img class="about-us-image" src="../../assets/img/about-us-image-1.png"/></div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 about-us-right-content">
					<h2 class="gen-heading-bold">But the truth is:</h2>
					<ol class="about-us-gen-content gen-content-list">
						<li>Finding the best healthcare professionals is a struggle for most.</li><br/>
						<li>Where does one even start, right?</li><br/>
						<li>The internet is filled with paradoxical and confusing information and reviews, which makes making a decision, even more complicated.</li>
					</ol>
				</div>
			</section>
			<section class="row">
				<div class="col-xs-12">
					<h2 class="gen-heading-bold">Our Aim</h2>
					<div class="about-us-gen-content">Is to become the trusted and leading source for locating and booking the best healthcare professionals, while also helping professionals reach and help more patients.</div>
				</div>
				<div class="col-xs-12 about-us-image-arr"><img class="about-us-image" src="../../assets/img/about-us-image-2.png"/></div>
			</section>
			<section class="row">
				<div class="col-xs-12">
					<h2 class="gen-heading-bold">For Patients</h2>
					<div class="about-us-gen-content">Careclues empowers the patient so that he or she can not only search for the best doctor but to also read other patients thoughts and book a consultation online with the expert of their choice, on their phone.</div>
				</div>
			</section>
			<section class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 about-us-left-content">
					<h2 class="gen-heading-bold">And Professionals</h2>
					<div class="about-us-gen-content">Doctors and healthcare professionals get to dynamically manage their online presence with Careclues. They get acquainted with the right patients to serve better and to gain new ones. Doctors can also manage their practice in a systemized manner with Careclues app.</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 about-us-right-content"><img class="about-us-image" src="../../assets/img/about-us-image-3.png"/></div>
			</section>
			<section class="row">
				<div class="col-xs-12">
					<h2 class="gen-heading-bold">End Result</h2>
					<div class="about-us-gen-content">A better relationship between a patient and the doctor, transparent communication and a plethora of information at your fingertips for you access, anytime.</div>
				</div>
			</section>
		</div>


            <footer class="main-footer default-row dark">
                <div class="popup">
                    <h3 class="contact_header"><span class="header-border-bottom">Contact Us</span></h3>
                    <div class="contact_body">
                        <div class="contact_address">
                            <h4 class="contact_address_header">Locations</h4>
                            <section class="loc_details">
                                <div class="loc_icon fa-map-marker"></div>
                                <div class="loc_addr">
                                    <span class="loc_area">Kolkata</span>
                                    <span class="area_address">Eternity Building, 8<sup>th</sup> Floor, Block DN, Sector V<br/>West Bengal - 700091</span>
                                    <span class="ph_num">
                                        <i class="fa-phone"></i>+91 33 65290001
                                    </span>
                                </div>
                            </section>
                            <section class="loc_details">
                                <div class="loc_icon fa-map-marker"></div>
                                <div class="loc_addr">
                                    <span class="loc_area">Kolkata</span>
                                    <span class="area_address">Eternity Building, 8<sup>th</sup> Floor, Block DN, Sector V<br/>West Bengal - 700091
                                    </span>
                                    <span class="ph_num">
                                        <i class="fa-phone"></i>+91 33 65290001
                                    </span>
                                </div>
                            </section>
                            <a class="supportId" href="mailto:support@careclues.com">
                                <i class="fa fa-envelope"></i>support@careclues.com
                            </a>
                        </div>
                        <form class="contact_form" method="post" onsubmit="return validateForm()" action="">
                            <p>
                                <input required type="text" name="fname" id="fname" placeholder="Name"/>
                            </p>
                            <p>
                                <input required type="tel" name="phnumber" id="phnumber" maxlength="10" placeholder="Mobile Number"/>
                            </p>
                            <p>
                                <input required type="email" name="email" id="email" placeholder="Email"/>
                            </p>
                            <p>
                                <textarea required placeholder="Message" rows="5" id="message" maxlength="180"></textarea>
                            </p>
                            <p>
                                <input type="submit" value="Submit"/>
                            </p>
                        </form>
                    </div>
                </div>
			    <div class="for-s-mb-m for-l-mb-l"><a href="/"><img alt="Careclues Logo" src="../../assets/img/Logo.png" class="logo"></a></div>
			    <div class="social-links for-s-mb-s">
			        <ul>
			            <li><a class="twitter" href="https://twitter.com/careclues">&#xe040;</a></li>
			            <li><a class="linkedin" href="https://linkedin.com/careclues">&#xe049;</a></li>
			            <li><a class="facebook" href="https://www.facebook.com/careclues">&#xe041;</a></li>
			            <li><a class="youtube" href="https://www.youtube.com/channel/careclues">&#xe051;</a></li>
			        </ul>
			    </div>
			    <nav class="for-s-mb-l">
			        <ul class="menu" id="menu-footer-menu">
			        	<li>
	                        <a class="marketing-footer-list" id="marketing-footer-list-contact"> Contact</a>
	                    </li>
	                    <li>
	                        <a class="marketing-footer-list" id="marketing-footer-list-privacy" href="/privacy-policy"> Privacy</a>
	                    </li>
	                    <li>
	                        <a class="marketing-footer-list" id="marketing-footer-list-about" href="javascript:void(0);"> About</a>
	                    </li>
					</ul>
				</nav>
            </footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../assets/js/script.js"></script>

</body>
</html>